body {
    /* background-color: #cdc6c7 */
}

.heading {
    text-decoration: underline;
    font-size: medium;
}

.jokeText {
    font-weight: bolder;
    cursor: pointer;
    color: #2c416b;
    text-decoration: underline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 15rem;
    margin-left: 20rem;
    margin-right: 20rem;
    height: fit-content;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}